div{
	float: left;
}

section{
	padding: 11px;
	width: 400px;
}

#list{
	display: inline-block;
	background: #175994;
	border-color: #80A4C4;
	border-style: solid;
	border-width: 3px;
	margin: 0 21%;
	width: 420;
	height: 56px;
}


.items{
	padding: 10px;
	background: linear-gradient( #F7F7F7 , #CAC8C8, #F7F7F7);
    margin: 1px;
    cursor: pointer;
}

.items:hover{
	background: linear-gradient( #7CAAD2 , #0F4D85, #7CAAD2);
}

